body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

/* .navbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    border-radius: 0.25rem;
    padding: 1rem;
}



.navbar .logo {
    height: 7rem;
    width: 7rem;
    border-radius: 100%;
} */